.idea/
/data/db-volume/mysql/
/data/db-volume/performance_schema/
/data/db-volume/sys/
/data/db-volume/wordpress/
/data/db-volume/aria_log.00000001
/data/db-volume/aria_log_control
/data/db-volume/ib_buffer_pool
/data/db-volume/ib_logfile0
/data/db-volume/ibdata1
/data/db-volume/ibtmp1
/data/db-volume/multi-master.info
/data/wp-volume/wp-admin/
/data/wp-volume/wp-content/
!/data/wp-volume/wp-includes/dummy.txt
/data/wp-volume/wp-includes/
/data/wp-volume/index.php
/data/wp-volume/license.txt
/data/wp-volume/liesmich.html
/data/wp-volume/readme.html
/data/wp-volume/supervisord.log
/data/wp-volume/supervisord.pid
/data/wp-volume/wp-activate.php
/data/wp-volume/wp-blog-header.php
/data/wp-volume/wp-comments-post.php
/data/wp-volume/wp-config.php
/data/wp-volume/wp-config-sample.php
/data/wp-volume/wp-cron.php
/data/wp-volume/wp-links-opml.php
/data/wp-volume/wp-load.php
/data/wp-volume/wp-login.php
/data/wp-volume/wp-mail.php
/data/wp-volume/wp-settings.php
/data/wp-volume/wp-signup.php
/data/wp-volume/wp-trackback.php
/data/wp-volume/xmlrpc.php
/etc/certs/example.com.crt
/etc/certs/example.com.key
/data/wp-volume/dump.rdb

/etc/certs/sasom.localhost.crt
/etc/certs/sasom.localhost.key
/data/db-volume/
/data/wp-volume/
